body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    background-color: #f4f4f4;
}

.contenedor {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tituloCompatibles{
    text-align: center;
    font-family: "Oswald", sans-serif;
}
h2 {
    text-align: center;
}

.oculto {
    display: none;
}

.imagen-perro {
    width: 150px; 
    height: 150px; 
    object-fit: cover; /* Ajuste de la imagen */
    border-radius: 5px; /* Borde redondeado */
    padding-right: 5px; 
    padding-bottom: 5px;
}
.divRazaCompatible{
    text-align: center;
}
.botonMostrar{
    margin-left: 10rem;
}
#rowPerros{
    margin-top: 5%;
    text-align: center;
}
.nombrePerro{
    font-family: "Oswald", sans-serif;
}
.sexoPerro{
    font-family: "Kanit", sans-serif;
}
.edadPerro{
    font-family: "Josefin Sans", sans-serif;
}
.tamanoPerro{
    font-family: "Lora", serif;
}
.cartaPerro{
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.cartaPerro:hover {
    cursor: pointer;
    background-color: #042940;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}