@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 5%;
    background-color: #28a745;
}

.contenedor {
    width: 70%; 
    border: 2px solid #000000;
    overflow: hidden; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}
@media screen and (max-width:720px) {

    .contenedor{
        width:85%;
        font-size: 1rem;
        margin-top: 30%;
    }
    .bienvenido {
        font-size: 3rem;
    }
    .razasCompatibles{
        font-size: 2rem;
    }
    #botonMostrar{
        margin-left: 10%;
    }
    }

.tituloCompatibles {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 7.5rem;
    color: #ffffff;
}

.boton-respuesta {
    margin-top: 3%;
    margin-right: 6px;
}

h2 {
    text-align: center;
    color: #28a745; 
    font-size: 75px;
}

p {
    font-size: 1.17em; 
    font-weight: bold; 
}

.oculto {
    display: none;
}

.imagen-perro {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.divRazaCompatible {
    text-align: center;
}

#boton-comenzar {
    margin-left: 1%;
    margin-top: 25px;
    background-color: #28a745; 
    color: #fff; 
    border: none; 
    padding: 20px 40px; 
    font-size: 25px; 
    cursor: pointer; 
    border-radius: 5px; 
}

#boton-comenzar:hover {
    background-color: #218838;
}

#imgInicio {
    width: 75%;
    object-fit: cover; 
    border-radius: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.botonMostrar {
    margin-left: 35%;
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.botonMostrar:hover {
    background-color: #218838;
}

#rowPerros {
    margin-top: 3%;
    text-align: center;
    justify-content: center;
}

.nombrePerro {
    font-family: "Oswald", sans-serif;
}

.sexoPerro {
    font-family: "Kanit", sans-serif;
}

.edadPerro {
    font-family: "Josefin Sans", sans-serif;
}

.tamanoPerro {
    font-family: "Lora", serif;
}

.cartaPerro {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cartaPerro:hover {
    cursor: pointer;
    background-color: #042940;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}